# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    tags: ['v*']
  workflow_dispatch:
    inputs:
      reason:
        description: 'The reason for running the workflow'
        required: true
        default: 'Manual run'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rid: [win-x86, linux-x64]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build and publish with dotnet
      run: |
        VERSION=${GITHUB_REF_NAME#v}
        dotnet publish bdtool/bdtool.csproj \
        -c Release \
        -r ${{ matrix.rid }} \
        /p:Version=$VERSION
    - name: Zip artifact
      run: |
        cd bdtool/bin/Release/net8.0/${{ matrix.rid }}/publish
        zip bdtool-${{ github.ref_name }}-${{ matrix.rid }}.zip *
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: bdtool-${{ matrix.rid }}-${{ github.ref_name }}
        path: bdtool/bin/Release/net8.0/${{ matrix.rid }}/publish/*.zip
    - name: Create GitHub release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        draft: true
        files: bdtool/bin/Release/net8.0/${{ matrix.rid }}/publish/*.zip
