# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    tags: ['v*']
  workflow_dispatch:
    inputs:
      reason:
        description: 'The reason for running the workflow'
        required: true
        default: 'Manual run'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build and publish with dotnet
      run: dotnet publish bdtool/bdtool.csproj -c Release -r win-x86
    #- name: Build
    #  run: dotnet build --no-restore
    #- name: Test
    #  run: dotnet test --no-build --verbosity normal
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: bdtool-win86-${{ github.ref_name }}
        path: bdtool/bin/Release/net8.0/win-x86/publish/
    - name: Zip artifact
      run: |
        cd bdtool/bin/Release/net8.0/win-x86/publish
        zip bdtool-${{ github.ref_name }}-win-x86.zip *.exe
    - name: Create GitHub release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        draft: true
        files: bdtool/bin/Release/net8.0/win-x86/publish/*.zip
